*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categoryList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.categoryList .categoryItem  {
    text-decoration: none;
}

.categoryList .btn {
    font-size: 12px;
}

.form-control-sm {
    /* width: 50px; */
    /* background-color: red; */
}